.vscode/tasks.json
.vscode/c_cpp_properties.json
Client/client4
server
server
server
server
Client/client1
Client/client2
bios.txt
bios.txt
Client/client3
players.txt
friend_requests.txt
friends.txt
client1
client2
client3
client4
Client/client.o
Server2/awale.o
Server2/server2.o
